* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .crafty-girls-regular {
  font-family: "Crafty Girls", cursive;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}
 */
 /* font-family: "Finger Paint", sans-serif;
  font-weight: 400;
  font-style: normal; */
html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}
body{
    margin: 0;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

/* header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    z-index: 1000;
    top: 0;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 6px 14px rgba(0, 0, 0, 0.06);
    background-color: #FCFEFC;
    margin: 0;
    opacity: 95%;
}
.rightheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.leftheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}
header img{
    height: 110%;
    width: 110px;
    max-height: 90px;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.navbar ul li a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: rgb(85, 2, 53);
}
.navbar ul li :hover{
    color: #996885;
}
.search{
    display: flex;
    background-color: #FAE8F5;
    border-radius: 50px;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 30px;
    margin: auto;
}
.search input{
    border: none;
    height: 100%;
    width: 100%;
    font-size: 15px; 
    outline: none;
    border-radius: 50px;
    background-color: transparent;
    align-items: center;
    margin: auto;
}
.searchicon{
    border: none;
    background-color: transparent;
    align-items: center;
    display: flex;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    transition: 0.2s;
    cursor: pointer;
}
.icons:hover{
    transform: scale(1.1);  
}
/* END OF HEADER */

/* HERO SECTION - first section */
.hero-section{
    display: flex;
    width: 100%;
    background-image: url("images/little kalli korner section (3).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px 20px 40px 20px;
}
.hero-left{
    display: flex;
    width: 55%;
    flex-direction: column;
    padding: 0 50px 0 50px;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 0 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.hero-text h1{
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #3b052a;
}
.hero-text button{
    width: 250px;
    height: 60px;
    border: none;
    background-image: url("images/yellow brush.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    transition: 0.2s ease;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.hero-text button:hover{
    transform: translateY(-4px) scale(1.04);
}
.hero-text button:active{
    transform: scale(0.95);
}
.hero-features{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
    align-items: center;
    justify-content: center;
}
.features-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.hero-right{
    display: flex;
    width: 45%;
    gap: 20px;
    padding: 10px;
    flex-direction: column;
}
.image1, .image2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.image1 img{
    width: 100%;
    height: 100%;
}
.image2 img{
    width: 100%;
    height: 100%;
}
#img1-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
}
#img2-container, #img3-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    height: 340px;
    border-radius: 50px;
    overflow: hidden;
}
#hover-background{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: 1;
    background-color: black;
    transition: 0.3s ease;
}
#hover-text{
    opacity: 0;
    color: white;
    position: absolute;
    z-index: 100;
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    transition: 0.3s ease;
    user-select: none;
}
.img-container{
    transition: 0.3s ease;
    box-shadow: 0 6px 18px rgba(44, 44, 44, 0.411);
}
.img-container:hover{
    transform: rotate(2deg);
}
.img-container:hover #hover-background{
    opacity: 45%;
}
.img-container:hover #hover-text{
    opacity: 100%;
}
#lk{
    background: linear-gradient(to right, #C29DB6, #F6A7B9, #F29CA5, #7A9A8E, #F4C742);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#discover{
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #4e0537; 
}
/* END OF HERO SECTION */

/* PRODUCTS SECTION */
.products{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding-bottom: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}
#product-choices{
    display: flex;
    border: solid 1px rgb(202, 202, 202);
    box-shadow: 0 6px 18px rgba(44, 44, 44, 0.411);
    width: 700px;
    height: 60px;
    align-self: center;
    justify-content: center;
    border-radius: 30px;
    margin: 15px;
    overflow: hidden;
    position: relative;
}
#highlight{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(#FFB6C1, #FFE873);
    transition: all 0.3s ease;
    z-index: -1;
}
#product-choices ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#product-choices li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    cursor: pointer;
    height: 100%;
    width: 25%;
    transition: ease 0.3s;
}
#product-choices li a{
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: "Playwrite US Modern", cursive;
    font-style: normal;
    font-size: 20px;
    color: #360426;
    pointer-events: none;
    user-select: none;
}
.hidden{
    display: none !important;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 43px;
    padding: 0 10px 0 10px;
    margin: 10px 0 20px 0;
    justify-content: center;
} 
.product-card{
    display: flex;
    height: 400px;
    width: 270px;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    gap: 0;
    box-shadow: 0 6px 18px rgba(44, 44, 44, 0.411);
    transition: transform 0.2s, box-shadow 0.3s;
}
.product-card:hover {
    transform: translateY(-5px);
}
.product-card:hover img{
    transform: scale(1.1);
}
.product-card:hover #add_cart{
    bottom: 105px;
}
.product-card:hover #favorite{
    opacity: 100;
}
.product-card p, h3{
    padding: 0 10px 0 10px;
}
.img-wrapper{
    overflow: hidden;
    height: 300px;
}
.img-wrapper img{
    position: relative;
    transition: transform 0.3s ease;
    transform-origin: center;
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    object-position: center; 
}
#below-img{
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: white;
    position: relative;
}
#add_cart{
    background-color: #F4C742;
    border-radius: 50px;
    border: none;
    align-self: center;
    position: absolute;
    bottom: 70px;            
    transition: bottom 0.5s ease; 
    padding: 3px 5px;
    color: #330324;
    font-family: "Poppins", sans-serif;
    width: 80%;
    font-size: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}
#add_cart:hover{
    background-color: #ddb437;
}
#favorite{
    align-self: flex-end;
    margin: 5px 5px 0 0;
    z-index: 1;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: #F8F8F8;
    transition: 0.3s ease;
    cursor: pointer;
    opacity: 0;
}
#favorite:hover{
    background-color: #ff4f4f;
}
.product-name{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.product-choice{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: gray;
    font-weight: 500;
}
.product-price{
    padding-top: 5px;
    font-size: 20px;
}
/* END OF PRODUCTS SECTION */

/* CLAY SECTION */
#clay-inquiry{
    margin: 0 30px 50px 30px;
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 10px 60px 10px 60px;
    background: linear-gradient(-120deg,#FFB6C1, #FFE873);
    border-radius: 40px;
    box-shadow: 0 6px 18px rgba(44, 44, 44, 0.411);
}
.clay-carousel{
    position: relative;
    width: 40%;
    height: 550px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.carousel-track{
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.carousel-slide{
    min-width: 100%;
    height: 100%;
    transition: 0.5s;
    position: relative;
}
.carousel-slide img{
    width: 100%;
    height: 100%;
    display: block;
}
.carousel-slide h3{
    z-index: 10;
    color: white;
}
.sample{
    background-color: black;
    opacity: 50%;
    width: 100%;
    position: absolute;
    text-align: center;
}
.carousel-buttons{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 10px;
}
.carousel-button{
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.carousel-button:hover{
    background: rgba(0,0,0,0.8);
}
.inquire{
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.inquire h1, h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.inquire-buttons{
    display: flex;
    gap: 30px;
}
.inquire-buttons button{
    width: 250px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #ddb437;
    transition: 0.2s ease;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    padding: 0 5px 0 5px;
}
.inquire-buttons button:hover{
    box-shadow: 0 6px 18px rgba(44, 44, 44, 0.411);
    transform: translateY(-4px) scale(1.04);
}
.popup{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.3s ease;
    align-items: center;
    justify-content: center;
}
.popup-content{
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;  
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    animation: slideDown 0.4s ease;
    font-family: "Poppins", sans-serif;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.popup-content form input,
.popup-content form textarea,
.popup-content form button{
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Poppins", sans-serif;
}
.popup-content form button{
    background-color: #ddb437;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}
.popup-content form button:hover{
    background-color: #997a1f;
}
@keyframes slideDown{
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
/* END OF CLAY SECTION */

/* FOOTER SECTION */
.footercontainer{
    display: flex;
    width: 100%;
    border-top: 2px solid rgba(255, 182, 193, 0.45); /* soft pink border */
    box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.10), 0 -2px 6px rgba(255, 182, 193, 0.25); 
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 0 40px 0 40px;
    background-color: #FAE8F5;
    flex-direction: column;
}
#upper-footer{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 0 40px 0 40px;
}
#lower-footer{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 0 40px 0 40px;
    border-top: 1px solid rgb(167, 167, 167);
}
.insidefootercontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}
.insidefootercontainer ul{
    margin-top: 30px;
    list-style-type: none;
}
.insidefootercontainer ul li a{
    text-decoration: none;
    color: #4e0537;
}
.insidefootercontainer ul li a:hover{
    color: #996885;
}
.insidefootercontainer ul li{
    margin-bottom: 15px;
}
#happykids{
    padding-right: 100px;
}
.socialmedia{
    display: flex;
    margin-top: 30px;
    gap: 10px;
}
.socialmedia button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    border-color: transparent;
    background-color: transparent;
}
.socialmedia button:hover{
    background-color: #F4C742;
}
.socialmedia button svg{
    width: 50%;
    height: 50%;
    color: #3b052a;
}
#little{
    color: #360426;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}
.klklogo img{
    width: 100%;
    height: 40px;
    object-fit: cover;
    margin-bottom: 30px;
}
#stayupdated{
    gap: 20px;
}
#newsletter input{
    border-radius: 10px;
    font-size: 13px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    font-family: "Poppins", sans-serif;
    width: 210px;
}
#newsletter button{
    border: none;
    border-radius: 10px;
    font-size: 13px;
    padding: 5px;
    width: 210px;
    background-color: #F4C742;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
/* END OF FOOTER SECION */